<div id="<%= dom_id teacher_availability %>">
  <p>
    <strong>Tname:</strong>
    <%= teacher_availability.tname %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= teacher_availability.day %>
  </p>

</div>
