<h1>Editing teacher availability</h1>

<%= render "form", teacher_availability: @teacher_availability %>

<br>

<div>
  <%= link_to "Show this teacher availability", @teacher_availability %> |
  <%= link_to "Back to teacher availabilities", teacher_availabilities_path %>
</div>
