<div id="<%= dom_id teacher_availability_calender %>">
  <p>
    <strong>Techname:</strong>
    <%= teacher_availability_calender.techname %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= teacher_availability_calender.day %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= teacher_availability_calender.time %>
  </p>

</div>
