<h1>New teacher availability calender</h1>

<%= render "form", teacher_availability_calender: @teacher_availability_calender %>

<br>

<div>
  <%= link_to "Back to teacher availability calenders", teacher_availability_calenders_path %>
</div>
